:root {
  font-family: "Alice", serif;
  line-height: 150%;
  color: #573A37;
}
* {
  box-sizing: border-box;
}

body {
  background-image: url("./assets/bg-image.png");
  background-size: cover;
}

#page {
  width: 51rem;
  padding: 2rem;
  background-color: #F0E8C2;
  border-radius: 24px;
  margin: 3rem auto;
}

img {
  border-radius:16px;
}

h1 {
  line-height: 140%;
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h1, h2 {
  color: #291B1A;
}