* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Alice", serif;
  line-height: 150%;
  color: #573A37;
}

body {
  background-image: url("./assets/bg-image.png");
  background-size: cover;
}

#page {
  width: 51rem;
  padding: 2rem;
  background-color: #F0E8C2;
  border-radius: 24px;
  margin: 3rem auto;
}

img {
  border-radius:16px;
}

main {
  padding: 1.5rem;
}

section + section {
  margin-top: 1.5rem;
}

h1 {
  line-height: 140%;
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h1, h2 {
  color: #291B1A;
  margin-bottom: .25rem;
  line-height: 150%;
}

p + p {
  margin-top: .75rem;
}

ul {
  padding-left: 1.5rem;
}
